{% extends 'base.html' %}
{% block content %}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static '/coursework/css/courseviewStyles.css' %}">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
       <li class="breadcrumb-item"><a href="/coursework/">Courses</a></li>
       <li class="breadcrumb-item"><a href="{% url 'view_course' course.id %}?tab=assignments">{{ course.title }}</a></li>
       <li class="breadcrumb-item active" aria-current="page">Create New Assignment</li>
    </ol>
 </nav>
  <h2>Create Assignment for Course: {{ course.title }}</h2>

<!-- create_assignment.html -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset }}
    <input type="hidden" name="course" value="{{ form.course.value }}">
    <button type="submit" class="btn btn-primary">Create Assignment</button>
</form>


</form>

{% endblock %}





