{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/coursework/css/courseviewStyles.css' %}">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
     <li class="breadcrumb-item"><a href="/coursework/">Courses</a></li>
     <li class="breadcrumb-item"><a href="{% url 'view_course' course.id %}">{{ course.title }}</a></li>
     <li class="breadcrumb-item" aria-current="page">Edit Course</li>
  </ol>
</nav>
  <h2>Edit Course</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button>
  </form>
{% endblock %}