{% extends "base.html" %}
{% block content %}
{% load static %}
{% load custom_filters %}

<link rel="stylesheet" type="text/css" href="{% static '/coursework/css/courseviewStyles.css' %}">
<script src="{% static '/coursework/js/scripts.js' %}"></script>
<nav aria-label="breadcrumb">
   <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/coursework/">Courses</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{course.title}}</li>
   </ol>
</nav>

<!-- In your Django template -->
<script>
   var viewProfileUrlTemplate = "{% url 'view_profile' 1 %}";
   // Replace 'username_placeholder' with a placeholder value that you will replace in JavaScript
</script>


<ul class="nav nav-tabs" id="myTab" role="tablist">
   <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" id="online-learning-tab" data-toggle="tab" href="#online-learning" role="tab" aria-controls="online-learning" aria-selected="false">Learning Modules</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Assignments</a>
   </li>
   <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Grades</a>
   </li>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
      <div class="dropdown-menu">

         {% if user.id == course.instructor.id == False %}<a class="dropdown-item" href="{% url 'send_message' course.instructor.id %}">Message {{course.instructor}}</a>{% endif %}
         <a class="dropdown-item" href="{% url 'enrolled_members' course.id %}">Enrolled Members</a>
         <div class="dropdown-divider"></div>
         <button class="dropdown-item" href="#" data-toggle="modal" data-target="#confirmUnenroll">Unenroll</button>
         {% if is_instructor %}
         <div class="dropdown-divider"></div>
         <a class="dropdown-item" href="{% url 'edit_course' course.id%}">Edit Course</a>
         <button class="dropdown-item" href="#" data-toggle="modal" data-target="#confirmDelete">Delete Course</button>
         {% endif %}
      </div>
   </li>
</ul>

<div class="modal fade" id="createAssignmentModal" tabindex="-1" aria-labelledby="createAssignmentModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="createAssignmentModalLabel">Create New Assignment</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <form method="POST" enctype="multipart/form-data">
         <div class="modal-body">
           {% csrf_token %}
           {{ form.as_p }}
           {{ formset.management_form }}
           {% for form in formset %}
             {{ form.as_p }}
           {% endfor %}
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           <button type="submit" class="btn btn-primary">Save Assignment</button>
         </div>
       </form>
     </div>
   </div>
 </div>

<div class="modal fade" id="confirmUnenroll" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Unenrollment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            Are you sure you want to unenroll from {{ course.title }}?
         </div>
         <div class="modal-footer">
            <form action="{% url 'direct_unenroll' course.id user.id %}" method="post">
               {% csrf_token %}
               <button type="submit" value="Unenroll" class="btn btn-download-attachment">Unenroll</button>
            </form>
            <button type="button" data-dismiss="modal" class="btn btn-download-attachment">Cancel</button>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            Are you sure you want delete {{ course.title }}?
         </div>
         <div class="modal-footer">
            <form action="{% url 'delete_course' course.id %}" method="post">
               {% csrf_token %}
               <button type="submit" value="Unenroll" class="btn" style="color: #4b4276; border: 1px solid #4b4276; background-color: transparent; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem;">Delete</button>
            </form>
            <button type="button" class="btn" data-dismiss="modal" style="color: #4b4276; border: 1px solid #4b4276; background-color: transparent; padding: .375rem .75rem; font-size: 1rem; line-height: 1.5; border-radius: .25rem;">Cancel</button>
         </div>
      </div>
   </div>
</div>
</div>
</li>
</ul>
<div class="tab-content" id="myTabContent">
   <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div id="accordion">
         <div class="card">
            <div class="card-header" id="headingOne">
               <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Course Information</i><i class="fas fa-plus" aria-hidden="true" style="display:none;"></i>
                  </button>    
               </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
               <div class="card-body">
                  <p><strong>Instructor:</strong> <a href="{% url 'view_profile' user_id=course.instructor.id %}">{{ course.instructor }}</a>  </p>
                  <p><strong>Description:</strong> {{ course.description }}</p>
                  <p><strong>Start Date:</strong> {{ course.start_date }}</p>
                  <p><strong>End Date:</strong> {{ course.end_date }}</p>
               </div>
            </div>
         </div>
         <div class="card">
            <div class="card-header" id="headingTwo">
               <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Course Syllabus</i><i class="fas fa-minus" aria-hidden="true" style="display:none;"></i>
                  </button>                                          
               </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
               <div class="card-body">
                  {% if course.syllabus %}
                  <a href="{{ course.syllabus.url }}" class="btn btn-download-attachment" download><i class="fa-solid fa-download"></i> Download Syllabus</a>
                  <object data="{{ course.syllabus.url }}" type="application/pdf" width="600" height="500">
                     <br>
                     <br>
                     <p>Syllabus not available for live view, please download the file.</p>
                  </object>
                  {% else %}
                  <p>Syllabus not available.</p>
                  {% endif %}
               </div>
            </div>
         </div>
         <div class="card">
            <div class="card-header" id="headingThree">
               <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Recommended Materials</i><i class="fas fa-minus" aria-hidden="true" style="display:none;"></i>
                  </button>
               </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
               <div class="card-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="card">
         
         <div class="card-body">
            <div class="mb-3">
               <label for="assignmentStatusFilter" class="form-label">Filter by Status:</label>
               <select class="form-select" id="assignmentStatusFilter">
                  <option value="all">All</option>
                  <option value="available">Available / Not completed</option>
                  <option value="not_available">Not Available</option>
                  <option value="completed">Completed</option>
                  <option value="late">Late</option>
              </select>
              
              <div class="mb-3">
               <input type="text" class="form-control" id="assignmentSearch" placeholder="Type to search by name...">
            </div>   
           </div>
           <script>
            document.addEventListener('DOMContentLoaded', function() {
                const searchInput = document.getElementById('assignmentSearch');
                const statusFilter = document.getElementById('assignmentStatusFilter');
                const assignments = document.querySelectorAll('.list-group-item');
            
                function filterAssignments() {
                    const searchText = searchInput.value.toLowerCase();
                    const selectedStatus = statusFilter.value;
            
                    assignments.forEach(function(assignment) {
                        const name = assignment.dataset.name; // Assumes data-name attribute is correctly set
                        const status = assignment.dataset.status; // Assumes data-status attribute is correctly set
                        const matchesSearch = name.includes(searchText);
                        const matchesStatus = (selectedStatus === 'all' || status === selectedStatus);
            
                        if (matchesSearch && matchesStatus) {
                            assignment.style.display = '';
                        } else {
                            assignment.style.display = 'none';
                        }
                    });
                }
            
                // Attach event listeners to both the search input and status filter
                searchInput.addEventListener('input', filterAssignments); // Changed to 'input' for instant feedback
                statusFilter.addEventListener('change', filterAssignments);
            });
            </script>
            

            {% if not is_instructor and not has_started %}
            <div class="alert alert-warning" role="alert">
               <h4 class="alert-warning">Assignments not available</h4>
               <p>This course has not yet begun. The course will release assignments to students sequentially, aligned with their planned start dates.</p>
               <hr>
               <p class="mb-0">Please refer to the course information or syllabus for the official start date.</p>
            </div>


            {% else %}
            {% if assignments %}
            <ul>
               <div class="list-group">
                  {% for assignment in assignments %}
                  <a href="{% url 'view_assignment' assignment.id %}"
                  class="list-group-item list-group-item-action flex-column align-items-start"
                  data-status="{{ assignment.status }}"
                  data-name="{{ assignment.name | lower }}"> <!-- Ensure name is in a searchable format -->
                   <!-- Assignment details -->
                     <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ assignment.name }}</h5>
                        <small class="text-muted"><strong>Assigned: </strong>{{ assignment.start_date }} | <strong>Due: </strong>{{ assignment.end_date }}</small>
                     </div>
                     <p class="mb-1"></p>
                     <h6>{{ assignment.instruction|truncatechars:100 }}</h6>
                     
                     {% if is_instructor %}

                        {% with status=assignments_submission_status|get_item:assignment.id %}
                           {% if status.not_available %}
                              <span class="badge bg-dark text-white">Not Available</span>
                           {% else %}
                              <span class="badge bg-info text-dark">Available</span>
                           {% endif %}
                           <span class="badge bg-info text-dark">Submissions: {{ status.submission_count }}</span>
                        {% endwith %}
                     {% else %}
                        {% with status=assignments_submission_status|get_item:assignment.id %}
                           {% if status.not_available %}
                           <span class="badge bg-dark text-white">Not Available</span>
                           {% else %}
                           <span class="badge bg-info text-dark">Available</span>
                           {% endif %}
                           {% if status.is_late %}
                              <span class="badge bg-danger text-dark">Late</span>
                           {% endif %}
                           {% if status.submitted %}
                              <span class="badge bg-success text-dark">Completed</span>
                           {% endif %}
                        {% endwith %}
                     {% endif %}     
                  </a>
                  {% endfor %}    
              </div>        
            </ul>
         {% else %}

            <p>No assignments for this course.</p>
         {% endif %}
            {% endif %}


            
            {% if is_instructor %}
            <a href="{% url 'create_assignment' course_id=course.id %}" class="btn btn-download-attachment" ><i class="fas fa-plus-square"></i> Create Assignment</a>
            {% else %}
            
            {% endif %}

         </div>
      </div>
   </div>
   <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">



  {% if assignments_submission_status %}
  {% if not is_instructor %}
      
  <!-- Student grade view -->
  <table>
     <thead>
        <tr>
           <th>Assignment</th>
           <th>Grade</th>
        </tr>
     </thead>
     <tbody>
      {% for assignment_id, status in assignments_submission_status.items %}
      <tr>
         <td><a href="{% url 'view_assignment' status.assignment_id %}">{{status.assignment_name}}</td>
         <td>{{ status.grade }}</td>
      </tr>
      {% endfor %}
     </tbody>
  </table>
  {% else %}
  <form id="searchForm" data-course-id="{{ course.id }}" class="d-flex">
   <input type="text" id="searchInput" name="q" placeholder="Search by student name..." class="form-control me-2">
   <button type="submit" class="btn btn-download-attachment" >Search</button>
</form>
     <table>
        <thead>
           <tr>
              <th>Student Name</th>
              <th>Email</th>
              <th>Grade Average</th>
           </tr>
        </thead>
        <tbody id="resultsTableBody">
           <!-- Rows filled by JavaScript -->
        </tbody>
     </table>

  {% endif %}
   {% else %}
      <div class="card-body">
         <p>No grades available.</p>
      </div>
   {% endif %}
  
   </div>

   <!-- Online Learning tab content -->
   <div class="tab-pane fade" id="online-learning" role="tabpanel" aria-labelledby="online-learning-tab">
      <div class="card">
         <div class="card-body">
            {% if not is_instructor and not has_started %}
            <div class="alert alert-warning" role="alert">
               <h4 class="alert-warning">Modules not available</h4>
               <p>This course has not yet begun. The course will release modules to students sequentially, aligned with their planned start dates.</p>
               <hr>
               <p class="mb-0">Please refer to the course information or syllabus for the official start date.</p>
            </div>


            {% else %}
 
            {% if modules %}
            <ul>
               <div class="list-group">
                  {% for module in modules %}
                  <a href="{% url 'module_view' module.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                     <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{module.name}}</h5>
                        <small class="text-muted"><strong>Begins: </strong>{{module.start_date}} | <strong>Ends: </strong>{{module.end_date}}</small>
                     </div>
                     <p class="mb-1"></p>
                     <h6>{{module.description|truncatechars:100}}</h4>
                        {% if is_instructor %}
                           
                        {% else %}
                          <!-- Check the submission status using assignment.id as the key -->
                             <span class="badge bg-success text-dark">Completed</span>
                             <span class="badge bg-warning text-dark">Not Completed</span>                      
                        {% endif %}
                  </a>
                  {% endfor %}
               </div>
            </ul>
         {% else %}
            <p>No modules for this course.</p>
         {% endif %}

            {%endif%}

         
         {% if is_instructor %}
         <a href="{% url 'create_module' course_id=course.id %}" class="btn btn-download-attachment"><i class="fas fa-plus-square"></i> Create Module</a>
         {% endif %}


         </div>
      </div>
   </div>
</div>
</body>
</html>
{% endblock %}
