{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static '/dashboard/css/styles.css' %}">
<script src="{% static '/dashboard/js/scripts.js' %}"></script>
    <div class="card text-center">
      <div class="card-header">
        Welcome to Tally, {{user.username}}
        <button type="button" class="close" aria-label="Close" style="float: right;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card-body">
        <h5 class="card-title">Getting started:</h5>
        <p class="card-text">Begin by exploring our introductory course</p>
        <a href="#" class="btn btn-primary" style="background-color:#4b4276 !important; border-style:none;" >Begin Now</a>
      </div>
    </div>






<div class="container mt-4">
    <!-- Grades Card -->
    <div class="card card-style">
        <div class="card-body">
            <h4 class="card-title">Grades</h4>
            <!-- Grades container with flexbox -->
            <div class="grades-container" style="display: flex; flex-wrap: wrap; justify-content: flex-start;">
                <!-- Overall grade container -->
                <div class="grade-item" style="flex: 0 1 22%; margin: 1%; text-align: center;">
                    <h6 style="text-align: left; margin-left: 10px;"><b>Overall:</b></h6>
                    <div class="progress blue" data-grade="{{ overall_average_grade|floatformat:"2"}}">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value"></div>
                    </div>
                </div>
                <!-- Dynamically generated course grades -->
                {% for course_grade in average_grades_per_course %}
                <div class="grade-item" style="flex: 0 1 22%; margin: 1%; text-align: center;">
                    <h6 style="text-align: left; margin-left: 10px;">{{course_grade.course_name}}:</h6>
                    <div class="progress blue" data-grade="{{course_grade.average_grade|floatformat:2}}">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>




    <!-- Notifications Card -->
    <div class="card card-style">
        <div class="card-body">
            <h5 class="card-title">Notifications</h5>
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      New Notifications
                    </button>
                  </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                  {% if grade_notifications %}
                    {% for notification in grade_notifications %}
                    <div class="notification-card unread mb-3">
                        <p class="card-text">{{ notification.timestamp|date:"Y-m-d H:i" }} - New grade posted for {{notification.course.title}} - <a href="{% url 'view_assignment' notification.assignment.id %}?tab=section3" style="color:#fff !important;"><b>View Grade</b>                       <a href="{% url 'mark_notification_read' notification.id %}" class="btn btn-primary-outline btn-sm">Mark as Read</a></a>
                    </div>
                    {%endfor%}
                  {% else %}
                    <p>No new notifications...</p>
                  {% endif %}
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      All Notifications
                    </button>
                  </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    Some placeholder content for the second accordion panel. This panel is hidden by default.
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <!-- Assignments Card -->
    <div class="card card-style">
        <div class="card-body">
            <h5 class="card-title">Assignments</h5>
            <div>
                <div class="tab active-tab" onclick="showAvailable()">Available</div>
                <div class="tab" onclick="showUpcoming()">Upcoming</div>
            </div>
            <div id="availableAssignments" class="tab-content">
              {% for assignment in available_assignments %}
                <li>{{assignment.course.title}} -{{ assignment.name }} - Due: {{ assignment.end_date }}</li>
              {% empty %}
                <li>No assignments available.</li>
              {% endfor %}
            </div>
            <div id="upcomingAssignments" class="tab-content" style="display:none;">
              {% for assignment in upcoming_assignments %}
                <li>{{ assignment.name }} - Starts: {{ assignment.start_date }}</li>
              {% empty %}
                <li>No upcoming assignments.</li>
              {% endfor %}
            </div>
        </div>
    </div>
</div>



  
    
{% endblock %}
