.mt-100{
  margin-top: 200px;
}
.progress {
  width: 150px;
  height: 150px !important;
  float: left; 
  line-height: 150px;
  background: none;
  margin: 20px;
  box-shadow: none;
  position: relative;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}
.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #fff; /* Change the background color to white */
  font-size: 24px;
  color: #000; /* Change the text color to black */
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.progress.blue .progress-bar {
  border-color: #4b4276;
}
.progress.blue .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
@keyframes rotateRight {
    from {
        transform: rotate(0deg);
    }
    to {
        /* This will be dynamically set by JavaScript */
    }
}

@keyframes rotateLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        /* This will be dynamically set by JavaScript */
    }
}
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
        }
        .card-style {
            background: #ffffff;
            border-radius: 10px;
            box-shadow: 0 6px 10px rgba(0,0,0,0.1);
            margin: 20px;
            padding: 20px;
       
        }
        .card-style:hover {
          
            box-shadow: 0 12px 20px rgba(0,0,0,0.2);
        }

        .notification-card.unread {
            background-color: #776fa8;
            color:#fff;
        }
        .tab-content {
            padding-top: 20px;
        }
        .tab {
            padding: 10px;
            background: #eeeeee;
            margin-right: 5px;
            cursor: pointer;
            border-radius: 5px;
            display: inline-block;
        }
        .active-tab {
            background-color: #4b4276;
            color: white;
        }



        
.custom-menu ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: #f0f0f0;
  border: solid 1px #ccc;
}

.custom-menu ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 5px 10px;
}

.custom-menu ul li a:hover {
  background-color: #ddd;
}




.card, .card-style {
box-shadow: none !important; 
}

.card:hover, .card-style:hover {
transform: none !important; 
box-shadow: none !important; 
}


.card .btn-primary:hover, .card-style .btn-primary:hover {
background-color: #4b4276 !important; 
border-color: #4b4276 !important;
}


/* Custom styles for active pills */
.nav-pills .nav-link.active {
background-color: #4b4276 !important; /* Change to your desired background color */
color: #fff !important; /* Change to your desired text color */
}

/* Custom styles for inactive pills */
.nav-pills .nav-link {
color: inherit !important; /* Change text color to black */
}

.nav-item .nav-link {
display: flex;
align-items: center; /* Vertically centers the flex items */
justify-content: center; /* Horizontally centers the flex items */
gap: 5px; /* Optional: adds space between the text and the badge */
}

.nav-link .badge {
padding: 0.25em 0.6em; /* Adjust padding to control badge size */
/* Additional badge styling here */
}



.assignment-list {
list-style-type: none; /* Removes default list styling */
padding-left: 0; /* Removes default padding */
}

.assignment-list li {
background-color: #f9f9f9; /* Light grey background */
margin-bottom: 10px; /* Adds space between list items */
padding: 10px; /* Adds padding inside each list item */
border-left: 5px solid #4b4276; /* Adds a left border for a visual accent */
border-radius: 5px; /* Rounds the corners */
}

.course-title {
font-weight: bold; /* Makes course title bold */
}

.assignment-name {
color: #333; /* Dark grey color for text */
}

.due-date {
float: right; /* Aligns due date to the right */
color: #888; /* Lighter grey color for due date */
font-style: italic; /* Italicizes the due date */
}




.scroll-indicator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  animation: bounce 2s infinite;
  
  color:#9e96aa; /* Deep purple text color */
  text-shadow: 1px 1px 2px  #4b4276; /* Lighter purple shadow for a subtle effect */
  }
  
.arrow {
display: block;
}

@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
  transform: translateY(0);
}
40% {
  transform: translateY(-20px);
}
60% {
  transform: translateY(-10px);
}
}
/* Adjusted CSS for .fade-out-overlay */
.fade-out-overlay {
  position: absolute; /* Changed from fixed to absolute */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Adjust based on your design needs */
  z-index: 2; /* Ensure it's above other content but below text/buttons you might want clickable */
}

.assignment-list a {
  text-decoration: none; /* Removes the underline from links */
  color: black; /* Sets the link color to black */
}
